
.organ-item-title {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  color: #666666;
}

.organ-item-title .left {
  display: inline-block;
  padding-left: 3px;
  border-left: 3px solid #e73f40;
}

.organ-item-title .right {
  position: absolute;
  display: inline-block;
  background: url("../../../assets/icon/arrow_circle_up.png") no-repeat;
  background-size: 100%;
  right: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  -webkit-transition: -webkit-transform 300ms;
  transition: transform 300ms;
}

.bgPlay {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
